
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 45px;
}


.play {
    font-size: 40px;
    font-weight: bold;
    padding: 50px 80px;
    border: none;
    border-radius: 15px;
}


.message {
    font-size: 35px;
    font-style: italic;
}